@model List<TabelaModel>

@{
    ViewData["Title"] = "Gerador";
}

<div class="text-center">

    <table class="table">
        <thead>
            <tr>

                <th scope="col">Id</th>

                <!--Primeiro elemento da lista sendo usado para exibir uma única ocorrência do cabeçalho da tabela-->
                

                @for (int i = 0; i < Model[0].CamposSelecionados.Count; i++)
                {

                    <th scope="col">@Model[0].CamposSelecionados[i]</th>
                }

            </tr>
        </thead>
        <tbody>
            <!--Verifica os atributos diferentes de null para serem exibidos na tabela-->
            @foreach (var p in Model)
            {
                <tr>
                    
                    @if(p.Id != 0)
                    {
                        <td>@p.Id</td>
                    }

                    @if (p.NomeUser != null)
                    {
                        <td>@p.NomeUser</td>
                    }

                    @if (p.Idade != null)
                    {
                        <td>@p.Idade</td>
                    }

                    @if (p.Sexo != null)
                    {
                        <td>@p.Sexo</td>
                    }

                    @if (p.Cidade != null)
                    {
                        <td>@p.Cidade</td>
                    }

                    @if (p.Estado != null)
                    {
                        <td>@p.Estado</td>
                    }

                    @if (p.Rg != null)
                    {
                        <td>@p.Rg</td>
                    }

                    @if (p.Cpf != null)
                    {
                        <td>@p.Cpf</td>
                    }

                </tr>

            }
        </tbody>
    </table>

</div>

